.footer{
  width: 100%;
  height: 124px;
  background-color: #F2F2F2;
  display: flex;
  align-items: center;

  &__copyright{
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    opacity: 0.6;
  }
  @media(max-width: $md1+px){
    font-size: 14px;
    .nav-menu__link {
      margin-left: 15px;
    }
    &__copyright{
      font-size: 12px;
    }
  }
  @media(max-width: $md2+px){
    font-size: 14px;
    height: 20%;
    .menu{
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      height: 100%;
    }

  }
}

