.over{
  overflow: hidden;
}
//Burger menu *9
.burger{
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%,-50%,0);
  width: 20px;
  height: 18px;
  cursor: pointer;
  z-index: 5;
  span{
    left: 0;
    top: 8px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000;
    transition: transform .3s ease-in-out;
    &:first-child{
      top: 0;
      left: 6px;
      width: 14px;
    }
    &:last-child{
      top: auto;
      bottom: 0;
      left: 10px;
      width: 10px;
    }
  }


  &._active{
    span{
      display: none;
      transition: transform .3s ease-in-out;
      &:first-child{
        left: 0;
        top: 14px;
        width: 20px;
        display: block;
        transform: rotate(45deg);
      }
      &:last-child{
        transform: rotate(-45deg);
        top: 14px;
        width: 20px;
        display: block;
        left: 0;
      }

    }
  }
}

.button{
  width: 196px;
  height: 51px;
  background-color: $green-color;
  border: none;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  transition: .3s ease-in-out;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  &:hover{
    background-color:#07A44E;
  }
  &_form{
    width: 100%;
    height: 35px;
    border: none;
  }
}

//Header__menu
.header__menu,
.menu{
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  color: #333;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media(max-width: $md2+px){
    font-size: 14px;
  }
}

.nav-menu {
  display: flex;

  &:first-child {
    margin: 0;
  }

  &__link {
    margin-left: 32px;
    color: #333;
    opacity: 0.6;
    transition: opacity .3s linear;
    @media(max-width: $md2+px){
      margin-left: 20px;
    }
    &-car{
      opacity: 1;
      path{
      transition: stroke .3s linear;
      }
    &:hover path{
      stroke: $green-color;
    }
    }
    &:hover{
      opacity: 1;
    }
  }
  .language{
    margin-left:20px ;
    text-transform: uppercase;
    display: flex;
    &:hover{
      .language__title{
      color: $green-color;}
      .btn:before{
      border-color: $green-color;}
    }
    &__title{
      transition: color .3s linear;
      cursor: pointer;
    }
    &__list{
      width: 80px;
      height: 100px;
      background-color: #fff;
      display: none;
      padding-left: 8px;
      border: 1px solid #ccc;
      position: absolute;
      right: -35px;
      top: 20px;
    }
    &__item{
      padding: 5px 0;
      transition: color .3s linear;
      &:hover{
        color: $green-color;
      }
    }
    .btn {
      width: 16px;
      height: 18px;
      display: flex;
      background-color: transparent;
      border:0;
      cursor: pointer;
      position: relative;
      &:before {
        content: "";
        position: absolute;
        top: 2px;
        left: 4.5px;
        border: solid black;
        border-width: 0 2px 2px 0;
        display: inline-block;
        padding: 4px;
        transform: rotate(45deg);
        transition: border .3s linear;
      }
    }
  }

}

//Header
.header {
  //Header-feedback
  .feedback {
    width: 100%;
    height: 34px;
    background-color: #F2F2F2;
    @media(max-width: $md3+px) {
      display: none;
    }

    &__inner {
      height: 34px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__contacts {
      display: flex;
      font-size: 12px;
      line-height: 150%;

      a {
        color: #333;

        &:hover {
          color: $green-color;
          text-decoration: underline;
        }
      }
    }

    &__item {
      margin-left: 30px;
      position: relative;

      &:before {
        content: "";
        position: absolute;
        display: block;
        left: -16px;
        top: 2.3px;
        width: 12px;
        height: 12px;
        background: url("../img/icons/email.svg") center no-repeat;
      }

      &:first-child:before {
        background: url("../img/icons/phone.svg") center no-repeat;
      }

      &:last-child:before {
        background: url("../img/icons/time.svg") center no-repeat;
      }
    }

    &__socials {
      display: flex;
    }

    &__socials-link {
      margin-left: 8px;
      color: #262F56;
      height: 12px;
      width: 12px;
      transition: color .3s linear;
      font-size: 12px;
      &:hover {
        color: $green-color;
      }
    }
  }

  //Header__logo
  &__logo {
    display: flex;
    align-items: flex-end;
    max-width: 216px;
    color: $green-color;
    cursor: pointer;

    .logo-title {
      margin: 0 0 4px 8px;
      font-size: 22px;
      font-weight: 500;
    }

    .logo-suptitle {
      vertical-align: text-top;
      font-size: 9px;
    }
  }

  &__intro {
    width: 100%;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background: url("../img/headerBg.jpg") no-repeat;
    background-size: cover;
  }
  &__title{
    max-width: 545px;
    font-weight: 600;
    font-size: 50px;
    line-height: 73px;
    text-align: center;
    color: #fff;
    margin: 70px 0 40px 0;
  }
}

.overlay{
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #000;
  opacity: 0.25;
  z-index: 1000;
}
.form{
  width: 300px;
  height: 370px;
  display: none;
  background-color: #fff;
  border: 1px solid #ccc;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  z-index: 3333;
  &__inner{
    width: 80%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__item{
    width: 100%;
    height: 30px;
    margin: 20px 0;
  }
  //Section button-close
  &__close{
    position: absolute;
    right: 7px;
    top: 7px;
    width: 20px;
    height: 20px;
    border: none;
    background-color: transparent;
    &:hover:before,
    &:hover:after,{
      background-color: $green-color;
    }
    &:before,
    &:after{
      position: absolute;
      left: 10px;
      top: 0;
      content: ' ';
      height: 15px;
      width: 1.5px;
      background-color: #333;
      transition: background-color .3s linear;
    }
    &:before {
      transform: rotate(45deg);
    }
    &:after {
      transform: rotate(-45deg);
    }
  }
  //Section input
  input{
    font-family: "Inter";
    font-size: 14px;
    width: 100%;
    height: 35px;
    border: 1.5px solid #333;
    padding-left: 15px;
    &[type="submit"]{border: none;}
    &:focus{
      border-color: $green-color;
    }
  }
  &_visible{
    position: fixed;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
  }
}


.active{
  opacity: 1;
  visibility: visible;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}

@media(max-width: $md3+px){
  .header{
    &__menu{
      padding: 0 20px;
      .logo-image{
        width: 37px;
        height: 33px;
      }
      .logo-title{
        font-size: 17px;
      }
      .nav-menu{
        display: none;
        width: 100%;
        max-height: 100%;
        background-color: #fff;
        flex-direction: column;
        position: absolute;
        top: 80px;
        left: 0;
        z-index: 2;
        font-size: 22px;
        border-top: 1px solid #ccc;
        &.activeL{
          display: flex;
          justify-content: flex-start;
          align-items: flex-end;
          height: 100%;
          z-index: 1111;
        }
        &__link{
          padding: 15px 15px;
          margin: 0;
          width: 100%;
          opacity: 1;
          border-bottom: 1px solid #ccc;
          &:last-child{
            border-bottom: none;
          }
        }
        .language{
          position: absolute;
          top: -45px;
          right: 60px;
          &__list{
            width: 100px;
            height: 100px;
            top: 25px;
            font-size: 16px;
          }
        }
      }
      .burger-inner{
        width: 32px;
        height: 32px;
        position: relative;
      }
      .burger{
        display: block;
      }
    }

    &__title{
      font-size: 48px;
      line-height: 58px;
    }
  }
}

