.product {
  min-height: 400px;
  &__inner {
    display: flex;
    width: 100%;
    position: relative;
    top: -80px;
    align-items: center;
  }

  .section {
    border: none;
    text-align: center;
    width: 254px;
    height: 298px;
    background-color: #fff;
    position: relative;
    cursor: pointer;
    &:before{
      content: "";
      display: block;
      width: 254px;
      height: 298px;
      background-color: #fff;
      position: absolute;
      transition: transform .3s ease-in-out;
    }
    &:hover:before{
      border: 1px solid #ccc;
      transform: scale(1.25);
      z-index: 1;
    }
    &__inner {
      width: 195px;
      min-height: 250px;
      margin: 40px auto;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
    }

    &:hover {

      .section__link {
        visibility: visible;
      }
    }

    &__item {
      height: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      z-index: 999;
      width: 100%;
    }


    &__title {
      font-weight: 500;
      font-size: 28px;
      line-height: 34px;
    }

    &__text {
      font-size: 16px;
      line-height: 150%;
      opacity: .6;
      margin: 12px 0;
    }

    &__link {
      @extend .section__text;
      color: $green-color;
      visibility: hidden;
      position: relative;
      width: auto;
      @media(max-width: $md2+px){
        visibility: visible;
      }
      &:hover:before {
        content: "";
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: $green-color;
        transition: background-color .3s linear;
      }
    }
  }

}

//Section About
.about {
  width: 100%;
  background-color: #F2F2F2;
  margin-bottom: 80px;
  //About__Inner
  &__inner {
    max-width: 1441px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
  }

  //About__Item
  &__item {
    width: 50%;
    &_content {
      width: 573px;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-around;
    }
  }

  //About__Title
  &__title {
    font-weight: 500;
    font-size: 52px;
    line-height: 63px;
  }

  //About__Text
  &__text {
    font-size: 16px;
    line-height: 150%;
    opacity: .6;
  }

  //About__Image
  &__image {
    width: 100%;
    object-fit: cover;
  }


}

//Section Partners
.partners {

  width: 1440px;
  margin: 0 auto;
  height: 380px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  //Partners__item
  &__item {
    width: 33.3333%;
    display: flex;
    justify-content: center;
  }

}

//Section Map
.map {
  width: 100%;
  background: url("../img/mapBg.jpg") no-repeat;
  background-size: cover;
  //Map__inner
  &__inner {
    display: flex;
    align-items: center;
    min-height: 683px;
    flex-wrap: wrap;
  }
  //Map__Item
  &__item {
    margin: 40px 0 40px 0;
  }
  //Map___Tittle
  &__title {
    font-weight: 500;
    font-size: 52px;
    line-height: 63px;
  }
  //Map__Image
  &__image {
    margin: 0 0 0 40px;
  }
  &__image-ua{
    width: 100%;
  }

  //Map__Contacts
  &__contacts {
    font-weight: normal;
    font-size: 16px;
    line-height: 200%;
    a{
      color: inherit;
      transition: color .3s linear,border .3s linear;
      &:hover{
        color: $green-color;
        border-bottom: 1px solid $green-color;
      }
    }
  }

  //Map__adrress
  &__adrress {
    margin: 20px 0;
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
    line-height: 200%;
  }

  //Map__adrress-contacts
  &__adrress-contact {
    position: relative;

    &:before {
      content: "";
      display: block;
      width: 16px;
      height: 17px;
      background: url("../img/icons/map.svg") center no-repeat;
      position: absolute;
      top: 8px;
      left: -25px;
    }
  }

  //Map__adrress-phone
  &__adrress-phone {
    position: relative;


    &:before {
      background: url("../img/icons/mobil.svg") center no-repeat;
      content: "";
      display: block;
      width: 16px;
      height: 17px;
      position: absolute;
      top: 8px;
      left: -25px;
    }
  }
}

//Section FAQ
.faq {
  width: 100%;
  margin: 114px 0 120px 0;
  //FAQ__inner
  &__inner {
    margin: 0 auto;
    width: 600px;
    display: flex;
    align-items: center;
    flex-direction: column;

  }

  //FAQ__answer
  &__answers {
    margin: 60px 0;
  }

  //FAQ__title
  &__title {
    font-weight: 500;
    font-size: 52px;
    line-height: 63px;
  }

  //FAQ__item
  &__item {
    margin: 20px 0;

  }
  //FAQ__item-title
  &__item-title {
    font-weight: 500;
    font-size: 28px;
    line-height: 34px;
    padding-left: 47px;
    margin-bottom: 20px;
    position: relative;
    cursor:pointer;
    &:after{
      content: "";
      display: inline-block;
      width: 27px;
      height: 27px;
      border-radius: 50%;
      border: 4px solid #333;
      position: absolute;
      top: 2px;
      left: 0;
    }
    &:before {
      content: '\002B';
      color: #333;
      font-weight: bold;
      /* float: right; */
      position: absolute;
      left: 8px;
    }
    &.display:before {
      content: "\2212";
      color: #333;
    }
  }
  &__hidden-items{
      display: none;
  }

  //FAQ__text
  &__text {
    width: 547px;
    margin-left: 47px;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    opacity: 0.6;
    max-height: 0;
    overflow: hidden;
    transition: max-height .3s ease-in-out .3s;
  }

  //FAQ__button-feedback
  &__btn {
    @extend .button;
  }
}

//Media max-width --- 1292px
@media(max-width: $md1+px){
  .product__container{
    min-height: 600px;
  }
  .product__inner{
    flex-wrap: wrap;
    justify-content: center;
  }

  .about__item_content{
    width: 50%;
    padding: 15px;
    .about__title{
      font-size: 40px;
    }
    .about__text{
      font-size: 14px;
    }

  }

  .map{
    &__image{
      margin: 70px auto;
    }
  }
}

//Media max-width --- 992px
@media(max-width: $md2+px) {
  .product {
       .product-section {
      transition:all 2s ease-in-out;
      }
    .section{
      border: 1px solid #ccc;
      margin: 20px;
      width: 300px;
      height: 320px;
      &:hover:before{
        content: none;
      }
    }

    &__inner {
      flex-wrap: wrap;
    }

  }

  .about {
    //About__Item
    &__item {
        width: 100%;
      &_content {
          width: 70%;
          height: 400px;
        margin: 0;
        }

    }

  }

  .partners {
      margin-bottom: 60px;
    //Partners__item
    &__item {
        width: 50%;
    }

  }

  .map {

    //Map__Image
    &__image {
        margin: 40px 0 60px 0;
        &__image-ua {
          width: 100%;
        }
    }
  }
}

//Media max-width --- 769px
@media(max-width: $md3+px){
  .title{
    font-size: 40px;
    line-height: 48px;
    font-weight: 500;
  }
  .product{
      &__inner{
        flex-direction: column;
      }
    }

  .about{
    &__image{
      width: 100%;
      height: 532px;
    }
    &__item_content{
      width: 100%;
      height: 100% ;
      margin: 40px 0;
    }
    &__title{
      font-size: 40px;
      line-height: 48px;
    }
    &__text{
      margin: 20px 0;
      font-size: 16px;
      line-height: 150%;
    }
  }

  .partners{
    max-width: 100%;
    .container{
      max-width: 100%;
    }
    &__item{
      text-align: center;
    }
    &__image{
      width: 80%;
    }
  }

  .map{
    height: auto;
    &__inner{
      margin: 0 40px;
    }
  }

  .faq{
    &__inner{
      width: 100%;
    }
    &__answers{
      margin: 40px 16px 40px 50px;
      width: 100%;
    }
    &__item-title{
      font-size: 28px;
      line-height: 34px;
      font-weight: 500;
    }
    &__text{
      width: 60%;
    }
  }

  .footer{
    min-height: 461px;
    .nav-menu{
      flex-direction: column;
      align-items: center;
      font-size: 16px;
      line-height: 19px;
      font-weight: 500;

      &__link{
        margin: 32px 0 0 0;
        &:first-child{
          margin: 0;
        }
      }
    }
  }
}

