//<МИКСИНЫ>===================================================================================================================================================================================================================
@import "mixins.scss";
//</МИКСИНЫ>===================================================================================================================================================================================================================

// <ШРИФТЫ>===================================================================================================================================================================================================================
//<ПОДКЛЮЧАЕМ ШРИФТЫ>---------------------------------------------------
//$subset-cyrillic-ext
@import "fonts.scss";
//<ПОДКЛЮЧАЕМ ШРИФТЫ>---------------------------------------------------

//<Иконочные шрифты>---------------------------------------------------
//@import "icons.scss";
//<Иконочные шрифты>---------------------------------------------------

//<Шрифт по умолчанию>---------------------------------------------------
$fontfamily :"Inter";
//<Шрифт по умолчанию>---------------------------------------------------
//</ШРИФТЫ>===================================================================================================================================================================================================================

//<ПЕРЕМЕННЫЕ>===================================================================================================================================================================================================================
$green-color: #009142;
$minwidth:320px;
$mw: 1280;
$md1: $mw +12;
$md2: 991.98;
$md3: 768.98;
$md4: 479.98;
//</ПЕРЕМЕННЫЕ>==================================================================================================================================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===================================================================================================================================================================================================
@import "null.scss";
body {
  color: #333;
  font-family: $fontfamily;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>=================================================================================================================================================================================================

//<ОБОЛОЧКА>====================================================================================================================================================================================================================
.wrapper{

}
//</ОБОЛОЧКА>===================================================================================================================================================================================================================

//<ОСНОВНАЯ СЕТКА>==============================================================================================================================================================================================================
.container {
  max-width: $mw + px;
  margin: 0 auto;
  @media(max-width: $md1+px){
    max-width: 920px;
  }
  @media(max-width: $md2+px) {
    max-width: 750px;
  }
  @media(max-width: $md3+px) {
    max-width: none;
    //padding: 0 10px;
  }
}
//</ОСНОВНАЯ СЕТКА>============================================================================================================================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>=======================================================================================================================================================================
//@import "forms.scss";
//@import "ui.scss";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>======================================================================================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦИ И ЕЛЕМЕНТОВ>=============================================================================================================================================================================
@import "header.scss";
@import "main.scss";
@import "footer.scss";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦИ И ЕЛЕМЕНТОВ>=============================================================================================================================================================================

//<ОСНОВНОЙ БЛОК>===============================================================================================================================================================================================================

//===============================================================================================================================================================================================================================
//</ОСНОВНОЙ БЛОК>===============================================================================================================================================================================================================


