
<footer class="footer">
   <div class="menu container">
      <a href="#" class="header__logo">
         <img src="img/Building.svg" alt="" class="logo-image">
         <h2 class="logo-title">Бiлд Маркет<span class="logo-suptitle language">UA</span></h2>
      </a>
      <nav class="nav-menu">
         <a href="#" class="nav-menu__link">Головна</a>
         <a href="#" class="nav-menu__link">Каталог товарів</a>
         <a href="#" class="nav-menu__link">Часті питання</a>
         <a href="#" class="nav-menu__link">Контакти</a>
      </nav>
      <div class="footer__copyright">© 2021  All Rights Reserved</div>
   </div>
</footer>
