<!--Header-->
<header class="header">

   <!--Header Feedback-->
   <div class="feedback">

      <div class="container">
         <div class="feedback__inner">
            <div class="feedback__contacts">
               <div class="feedback__item">
                  <a href="tel:0982811105" class="feedback__tel">098 281 11 05</a>
               </div>
               <div class="feedback__item">
                  <a href="mailto:bildmarketua@gmail.com" class="feedback__mail">bildmarketua@gmail.com</a>
               </div>
               <div class="feedback__item">
                  <span class="feedback__schedule">ПН-ПТ 8:00 – 19:00</span>
               </div>
            </div>
            <div class="feedback__socials">
               <a href="" class="feedback__socials-link"><i class="fab fa-instagram"></i></a>
               <a href="" class="feedback__socials-link"><i class="fab fa-youtube"></i></a>
               <a href="" class="feedback__socials-link"><i class="fab fa-facebook-f"></i></a>
            </div>
         </div>
      </div>

   </div>
   <!--Header  Menu-->
   <div class="menu header__menu container">
      <!--Header Logo-->
      <a href="#" class="header__logo">
         <img src="img/Building.svg" alt="" class="logo-image">
         <h1 class="logo-title">Бiлд Маркет<span class="logo-suptitle">UA</span></h1>
      </a>
      <!--Menu-->
      <nav class="nav-menu">

         <a href="#" class="nav-menu__link">Головна</a>
         <a href="#" class="nav-menu__link">Каталог товарів</a>
         <a href="#" class="nav-menu__link">Часті питання</a>
         <a href="#" class="nav-menu__link">Контакти</a>
         <a href="#" class="nav-menu__link nav-menu__link-car">
            <svg class="link-car" width="19" height="19" viewBox="0 0 19 19" fill="none"
                 xmlns="http://www.w3.org/2000/svg">
               <g clip-path="url(#clip0)">
                  <path
                       d="M7.12467 17.4167C7.5619 17.4167 7.91634 17.0622 7.91634 16.625C7.91634 16.1878 7.5619 15.8333 7.12467 15.8333C6.68745 15.8333 6.33301 16.1878 6.33301 16.625C6.33301 17.0622 6.68745 17.4167 7.12467 17.4167Z"
                       stroke="#333333" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  <path
                       d="M15.8332 17.4167C16.2704 17.4167 16.6248 17.0622 16.6248 16.625C16.6248 16.1878 16.2704 15.8333 15.8332 15.8333C15.3959 15.8333 15.0415 16.1878 15.0415 16.625C15.0415 17.0622 15.3959 17.4167 15.8332 17.4167Z"
                       stroke="#333333" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  <path
                       d="M0.791504 0.791672H3.95817L6.07984 11.3921C6.15223 11.7566 6.35051 12.084 6.63998 12.317C6.92944 12.55 7.29164 12.6738 7.66317 12.6667H15.3582C15.7297 12.6738 16.0919 12.55 16.3814 12.317C16.6708 12.084 16.8691 11.7566 16.9415 11.3921L18.2082 4.75001H4.74984"
                       stroke="#333333" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
               </g>
               <defs>
                  <clipPath id="clip0">
                     <rect width="19" height="19" fill="green"/>
                  </clipPath>
               </defs>
            </svg>
         </a>

         <div class="language">
            <span class="language__title">UA</span>
            <a class="btn">

               <ul class="language__list">

                  <li class="language__item">UA</li>
                  <li class="language__item">RU</li>
                  <li class="language__item">ENG</li>

               </ul>

            </a>

         </div>

      </nav>

      <div class="burger-inner">
      <div class="burger">
         <span></span>
         <span></span>
         <span></span>
      </div>
      </div>
   </div>
   <!--Header Intro-->
   <div class="header__intro">
      <h2 class="header__title">Будівельні суміші від виробника</h2>
      <button class="button">Передзвонiть менi</button>
   </div>

</header>
<!--Form Feedback-->
<div class="overlay"></div>
<form class="form form_visible">

   <div class="form__inner">

      <div class="form__item">
         <input class="form__input" type="text" name="name" placeholder="Имя"/>
      </div>

      <div class="form__item">
         <input class="form__input" type="email" name="email" placeholder="name@example.com"/>
      </div>

      <div class="form__item">
         <input class="form__input" type="tel" name="tel" pattern="+[0-9]{3}-[0-9]{3}-[0-9]{4}"
                placeholder="+38(000)-00-00-000"/>
      </div>

      <div class="form__item">

         <input class="button button_form" type="submit" value="Надіслати"/></div>

   </div>

   <button type="button" class="form__close"></button>

</form>

