<!--Section Product-->
<section class="product container">

   <div class="product__inner">
      <div class="section product-section">
         <div class="section__inner">
            <div class="section__item">
               <img src="img/cement.svg" alt="">
            </div>
            <div class="section__item">
               <h2 class="section__title">Цемент</h2>
               <p class="section__text">Всі марки цементу ПАТ «ХайдельбергЦемент Україна»</p>
               <a class="section__link" href="">Докладніше</a>
            </div>
         </div>
      </div>

      <div class="section product-section">
         <div class="section__inner">
            <div class="section__item">
               <img src="img/beton_car.svg" alt="">
            </div>
            <div class="section__item">
               <h2 class="section__title">Бетон</h2>
               <p class="section__text">Кожна партія відправляється з документом якості</p>
               <a class="section__link" href="">Докладніше</a>
            </div>
         </div>
      </div>

      <div class="section product-section">
         <div class="section__inner">
            <div class="section__item">
               <img src="img/polimin.png" alt="">
            </div>
            <div class="section__item">
               <h2 class="section__title">Polimin</h2>
               <p class="section__text">Лідер на ринку сухих будівельних сумішей України</p>
               <a class="section__link" href="">Докладніше</a>
            </div>
         </div>
      </div>

      <div class="section product-section">
         <div class="section__inner">
            <div class="section__item">
               <img src="img/wall.svg" alt="">
            </div>
            <div class="section__item">
               <h2 class="section__title">Газобетон</h2>
               <p class="section__text">екологічно чистий, стійкий до бактерій і грибків</p>
               <a class="section__link" href="">Докладніше</a>
            </div>
         </div>
      </div>

      <div class="section product-section">
         <div class="section__inner">
            <div class="section__item">
               <img src="img/other.svg" alt="">
            </div>
            <div class="section__item">
               <h2 class="section__title">Iнше</h2>
               <p class="section__text">OSB плити, гіпсокартон, пісок, щебінь, шифер, вугілля Д</p>
               <a id="example1" class="section__link" href="">Докладніше</a>
            </div>
         </div>
      </div>
   </div>

</section>
<!--Section About-->
<section class="about">

   <div class="about__inner">

      <div class="about__item">
         <img class="about__image" src="img/about.jpg" alt="">
      </div>

      <div class="about__item about__item_content">
         <h2 class="about__title title">Ми будуємо майбутнє</h2>
         <div class="about__text">
            <p>Компания ООО “Билд Маркет ЮА” была основана в 2016 году. Основной сферой деятельности компании является
               продажа оригинального цемента компании ЧАО “ХайдельбергЦемент Украина”</p>
            <p>Опираясь на запросы наших постоянных клиентов мы расширяем свой товарный ассортимент. У нас можно
               приобрести высококачественный бетон от ООО “ХайдельбергБетон Украина”, гипсокрартон, сухие смеси
               производства Siniat, плиты OSB производства Европы и Украины.</p>
         </div>
         <button class="button">Передзвонiть менi</button>
      </div>

   </div>
</section>
<!--Section Partners-->
<div class="partners container">
   <div class="partners__item">
      <img src="img/partner1.svg" alt="" class="partners__image">
   </div>
   <div class="partners__item">
      <img src="img/partner2.svg" alt="" class="partners__image">
   </div>
   <div class="partners__item">
      <img src="img/partner3.svg" alt="" class="partners__image">
   </div>
   <div class="partners__item">
      <img src="img/partner4.svg" alt="" class="partners__image">
   </div>
   <div class="partners__item">
      <img src="img/partner5.svg" alt="" class="partners__image">
   </div>
   <div class="partners__item">
      <img src="img/partner6.svg" alt="" class="partners__image">
   </div>
</div>
<!--Section Map-->
<section class="map">
   <div class="map__inner container">

      <div class="map__item">

         <h2 class="map__title title">Завітайте до нас</h2>

         <div class="map__contacts">

            <address class="map__adrress">
               <div class="map__adrress-contact">
                  <a target="_blank" href="https://goo.gl/maps/g89iLn5aAfTARQxZ6">Кривий Ріг, вул. Волгоградська 4</a>
               </div>
               <div class="map__adrress-phone">
                  <a  href="tel:0982811105" >098 281 11 05</a> ;
               <a  href="tel:0982811106" >067 765 06 57</a>
               </div>
            </address>

            <address class="map__adrress">
               <div class="map__adrress-contact">
                  <a target="_blank" href="https://goo.gl/maps/hp5xNRCtJrwZevyr6">Дніпропетровськ, просп. Праці 9д</a>
               </div>
               <div class="map__adrress-phone">
                  <a  href="tel:0982811106" >098 281 11 06</a> ;
               <a  href="tel:0982811106" >067 793 21 11</a>
               </div>
            </address>

            <address class="map__adrress">
               <div class="map__adrress-contact">

                  <a target="_blank" href="https://goo.gl/maps/a7ijXKpPaDh6NVKc8">Дніпропетровськ, вул. Каштанова 13 лівий берег</a>

               </div>
               <div class="map__adrress-phone">
                  <a class="" href="tel:0982811106" >098 281 11 06</a> ;
               <a  href="tel:0982811106" >067 793 21 11</a>
               </div>
            </address>

            <button class="button">Передзвонiть менi</button>

         </div>

      </div>

      <div class="map__image">
         <img src="img/country.png" alt="" class="map__image-ua">
      </div>

   </div>
</section>
<!--Section Faq-->
<section class="faq">

   <div class="faq__inner">

      <h2 class="faq__title title">Часті питання</h2>

      <div class="faq__answers">

      <div class="faq__item ">
         <h4 class="faq__item-title">Як замовити кур'єра за адресою</h4>
         <p class="faq__text">
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem
            aperiam,
            eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
            Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni
            dolores
            eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet,
            consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam
            aliquam
            quaerat voluptatem.
         </p>
      </div>

      <div class="faq__item" >

         <h4 class="faq__item-title">Як замовити зворотній дзвінок</h4>
         <p class="faq__text">
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem
            aperiam,
            eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
            Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni
            dolores
            eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet,
            consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam
            aliquam
            quaerat voluptatem.
         </p>

      </div>

      <div class="faq__item" >

         <h4 class="faq__item-title">Як замовити кур'єра за адресою</h4>

         <p class="faq__text">
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem
            aperiam,
            eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
            Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni
            dolores
            eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet,
            consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam
            aliquam
            quaerat voluptatem.
         </p>

      </div>

      <div class="faq__item">

         <h4 class="faq__item-title">Де я можу зробити швидке замовлення</h4>

         <p class="faq__text">
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem
            aperiam,
            eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
            Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni
            dolores
            eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet,
            consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam
            aliquam
            quaerat voluptatem.
         </p>

      </div>

      <div class="faq__hidden-items">
         <div class="faq__item ">

         <h4 class="faq__item-title">Як замовити кур'єра за адресою</h4>

         <p class="faq__text">
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem
            aperiam,
            eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
            Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni
            dolores
            eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet,
            consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam
            aliquam
            quaerat voluptatem.
         </p>

      </div>

         <div class="faq__item">

         <h4 class="faq__item-title">Як замовити зворотній дзвінок</h4>

         <p class="faq__text">
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem
            aperiam,
            eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
            Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni
            dolores
            eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet,
            consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam
            aliquam
            quaerat voluptatem.
         </p>

      </div>

         <div class="faq__item" >

         <h4 class="faq__item-title">Як замовити кур'єра за адресою</h4>

         <p class="faq__text">
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem
            aperiam,
            eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
            Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni
            dolores
            eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet,
            consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam
            aliquam
            quaerat voluptatem.
         </p>

      </div>

         <div class="faq__item"  >

         <h4 class="faq__item-title">Де я можу зробити швидке замовлення</h4>

         <p class="faq__text">
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem
            aperiam,
            eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
            Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni
            dolores
            eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet,
            consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam
            aliquam
            quaerat voluptatem.
         </p>

      </div>

      </div>
   </div>

      <button class="faq__btn">Дивитись бiльше питань</button>

   </div>

</section>
